includes:
    - vendor/christianjbrown/code-quality-scripts/config/phpstan.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    tmpDir: .phpstan.cache
    paths:
        - src
        - tests
    parallel:
        jobSize: 2
